* {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    max-height: 60px;
    background-color: #1976d2;
    box-shadow: 0 18px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.2);
}

.wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.github-img {
    height: auto;
    width: 40px;
}

.input-container {
    display: flex;
    justify-content: space-evenly;
}

.input-container > div {
    display: flex;
    align-items: center;
}

.select {
    margin-right: 12px;
    background-color: #ebecf0;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    max-height: 48px;
    max-width: 350px;
}

.select:active {
    color: #000;
    background-color: #fff;
    line-height: 1.5rem;
}